<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geek521.golfapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.geek521.golfapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.geek521.golfapp.SetupActivity"
            android:label="@string/title_activity_setup" >
        </activity>
        <activity
            android:name="com.geek521.golfapp.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.geek521.golfapp.TestSharedpreferenceActivity"
            android:label="@string/title_activity_testsharedpreference" >
        </activity>
        <activity
            android:name="com.geek521.golfapp.TestSqliteActivity"
            android:label="@string/title_activity_test_sqlite" >
        </activity>
        <activity
            android:name="com.geek521.golfapp.TestFileActivity"
            android:label="@string/title_activity_test_file" >
        </activity>
        <activity
            android:name="com.geek521.golfapp.TestContentproviderActivity"
            android:label="@string/title_activity_test_contentprovider" >
        </activity>
    </application>

</manifest>
